
<div style="text-align: center;">
  <h1>리모콘 입니당</h1>
  <hr>
  <pre>
    무분별한 삭제는 버그의 원인입니다.
    리모콘 페이지는 가끔씩 새로고침합시다.
    -우선예약- 곡은 삭제하지 맙시다.
    (리스트 계산 힘들어짐..ㅠ)
  </pre>
  <table>
    <tbody id="list">
      <tr>
        <th>id</th>
        <th>제목</th>
        <th>버튼</th>
      </tr>
      <tr id="넘사벽">
        <td>0</td>
        <td><a href="https://www.youtube.com/watch?v=7PrxONon7jg" target="_blank">BLACKPINK - 'FOREVER YOUNG' LYRICS (Color Coded Eng/Rom/Han)</a></td>
        <td>
          <a href="#" data-remote="true">제거 불가</a>
        </td>
      </tr>
      <% @musics.each do |music| %>
        <%= render "tr", music: music, is_super: false %>
      <% end %>
    </tbody>
  </table>
  <hr>
  <a href="remocon/previous" data-remote="true"><i  class="material-icons">fast_rewind</i></a>
  <a href="remocon/stop" data-remote="true"><i  class="material-icons">pause</i></a>
  <a href="remocon/play" data-remote="true"><i  class="material-icons">play_arrow</i></a>
  <a href="remocon/next" data-remote="true"><i class="material-icons">fast_forward</i></a>



  <hr>
  <h5>음악 추가</h5>
  <form action="remocon/musics" method="post" data-remote="true">
    <input type="text" name="url" id="urls" value="" autocomplete="off">
    <input type="submit">
  </form>
  <hr>
  <h5>우선 예약 음악 추가</h5>
  <form action="remocon/super_musics" method="post" data-remote="true">
    <input type="text" name="url" id="super_urls" value="" autocomplete="off">
    <input type="submit">
  </form>
  <hr>
  <h5>메세지 추가</h5>
  <form action="remocon/messages" method="post" data-remote="true">
    <input type="text" name="body" id="messages" value="" autocomplete="off">
    <input type="submit">
  </form>

</div>
