
    <div class="content">
        <div id="text-section" class="text-section">
            <ul id="card-target" class="card-container"> <!-- 메세지 컨테이너 -->
              <!--메세지  내용-->
                <li class="card" id="card-anchor">뮤직키친 화이팅!</li></ul>
        </div>
        <input id="href"> <button onclick="generate()">Generate</button>
        <div class="audio-section">
            <div id="video-placeholder"></div>
            <div class="player-container">
                <div id="controls">
                    <div class="up-section">
                        <div class="title-section">
                            <span id="play-music-name">Music Kitchen - 준비중입니다.</span> <!--현재 플레이 중인 음악-->
                        </div>
                        <div class="progress-section">
                            <div class="progress-part"><input type="range" id="progress-bar" value="0"></div>
                            <div class="time-part">
                                <div id="current-time">0:00</div>
                                <div id="duration">0:00 </div>
                            </div>
                        </div>
                        <div class="play-section">
                            <i id="prev" class="material-icons">fast_rewind</i>
                            <i id="play-toggle" class="material-icons">play_arrow</i>
                            <i id="next" class="material-icons">fast_forward</i>
                        </div>
                    </div>
                    <div class="volume-section">
                        <i id="mute-toggle" class="material-icons">volume_up</i>
                        <input type="range" id="volume-input" value="0">
                    </div>
                </div>
                <div id="music-title"> <!--노래 리스트-->
                    <div class="title-container" id="present-video"><!--노래 제목-->
                      Music Kitchen - 준비중입니다.
                    </div>
                    <div class="title-container" id="next-video"><!--노래 제목-->
                      <span class="blank-music">노래를 신청해주세요.</span>
                    </div>
                    <div class="title-container" id="next-next-video"><!--노래 제목-->
                      <span class="blank-music">노래를 신청해주세요.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>

    <script type="text/javascript">
      var playlist = <%= raw @vids %>
      var playlist_json = <%= raw @playlists %>
      var previousIndex = -1
      /*유튜브 플레이어 정의*/
      var player,time_update_interval = 0;

      function onYouTubeIframeAPIReady() {
          player = new YT.Player('video-placeholder', {
              width: 600,
              height: 400,
              videoId: 'pHYWdjBmRm8',
              playerVars: {
                  color: 'white',
                  autoplay: 1,
                  playlist: playlist.join(','),
              },
              events: {
                  onReady: initialize,
                  onStateChange: stateChange
              }
          });
      }
      /* 유튜브 컨트롤러 정의*/
      function initialize(){
          updateTimerDisplay();
          updateProgressBar();
          clearInterval(time_update_interval);
          time_update_interval = setInterval(function () {
              updateTimerDisplay();
              updateProgressBar();
          }, 1000);
          $('#volume-input').val(Math.round(player.getVolume()));
      }

      // 수노의 개꿀딱 코드 복사
      function stateChange(event){
        console.log("[stateChange] event.data : " + event.data)
        if(event.data == -1) {
            console.log("change")
            // get current video index
            var index = player.getPlaylistIndex();
            // update when playlists do not match
            if(player.getPlaylist().length != playlist.length) {
              // update playlist and start playing at the proper index
              player.loadPlaylist(playlist, previousIndex+1);
            }
            previousIndex = index;
        }else if(event.data == 1){
          // debugger
          title = event.target.j.videoData.title
          changeName(title);
          changeList(previousIndex, title);
          console.log("[노래 시작될 때] 노래제목 : " + title);
        }
      }

      function updateTimerDisplay(){
          $('#current-time').text(formatTime( player.getCurrentTime() ));
          $('#duration').text(formatTime( player.getDuration() ));
      }

      function updateProgressBar(){
          $('#progress-bar').val((player.getCurrentTime() / player.getDuration()) * 100);
      }


      // Progress bar
      $('#progress-bar').on('mouseup touchend', function (e) {
          var newTime = player.getDuration() * (e.target.value / 100);
          player.seekTo(newTime);

      });

      // Playback
      $('#play-toggle').on('click', function () {
          var play_toggle = $(this);
          if(player.getPlayerState() != 1) {
              player.playVideo();
              play_toggle.text('pause');
          }
          else{
              player.pauseVideo();
              play_toggle.text('play_arrow');
          }
      });

      // Sound volume
      $('#mute-toggle').on('click', function() {
          var mute_toggle = $(this);
          if(player.isMuted()){
              player.unMute();
              mute_toggle.text('volume_up');
          }
          else{
              player.mute();
              mute_toggle.text('volume_off');
          }
      });
      $('#volume-input').on('change', function () {
          player.setVolume($(this).val());
      });

      // Playlist
      $('#next').on('click', function () {
          player.nextVideo()
      });
      $('#prev').on('click', function () {
          player.previousVideo()
      });

      // Time Helper Functions
      function formatTime(time){
          time = Math.round(time);
          var minutes = Math.floor(time / 60),
              seconds = time - minutes * 60;
          seconds = seconds < 10 ? '0' + seconds : seconds;
          return minutes + ":" + seconds;
      }

      /* 텍스트 메세지 생성자*/
      function generate() {
          var parentTarget = document.getElementById('card-target');
          parentTarget.lastChild.removeAttribute("id");
          var a = document.createElement('li');
          var valueOfTest = document.getElementById('href').value; /*현재 테스트용 텍스트 입력을 받으면 여기서 벨류 받아와서 들어감 여기로 메세지 넣으면 될듯*/
          a.appendChild(document.createTextNode(valueOfTest));
          a.classList.add('card');
          a.setAttribute("id", "card-anchor");
          parentTarget.appendChild(a);
          (function () {
              var anchor = document.getElementById("card-anchor");
              var topPosition = anchor.offsetTop;
              document.getElementById('card-target').scrollTop = topPosition;
          }());
      }



      function music_inserted(data) {
        playlist.push(data.vid);
        playlist_json.push(data);
      }

      // 우선 예약 코드
      function super_booking(data) {
        playlist.splice(previousIndex + 1, 0 ,data.vid)
        playlist_json.splice(previousIndex + 1, 0 ,data)

        $("#next-video").text(playlist_json[previousIndex + 1].title)
        $("#next-next-video").text(playlist_json[previousIndex + 2].title)
      }

      // 현재 재생중인 음악
      function changeName(name){
        $("#play-music-name").text(name)
      }

      // 목록 잡기
      function changeList(n,title){
        console.log("[changeList] previousIndex : " + n)
        console.log("[changeList] playlist_json.length : " + playlist_json.length)

        if(n == -1){
          $("#present-video").text(title)
          $("#next-video").text(playlist_json[n + 1].title)
          $("#next-next-video").text(playlist_json[n + 2].title)
        }else if(n == playlist_json.length - 1){
          $("#present-video").text(playlist_json[n].title)
          $("#next-video").empty();
          $("#next-video").append(`<span class="blank-music">노래를 신청해주세요.</span>`)
          $("#next-next-video").empty();
          $("#next-next-video").append(`<span class="blank-music">노래를 신청해주세요.</span>`)
        }else if(n == playlist_json.length - 2){
          $("#present-video").text(playlist_json[n].title)
          $("#next-video").text(playlist_json[n+1].title)
          $("#next-next-video").empty();
          $("#next-next-video").append(`<span class="blank-music">노래를 신청해주세요.</span>`)
        }else{
          $("#present-video").text(playlist_json[n].title)
          $("#next-video").text(playlist_json[n+1].title)
          $("#next-next-video").text(playlist_json[n+2].title)
        }
      }

      var pusher = new Pusher("<%= ENV["pusher_key"] %>", {
        cluster: "<%= ENV["pusher_cluster"] %>",
        encrypted: true
      });

      var channel = pusher.subscribe('dashboard');
      channel.bind('create', function(data) {
        if(data.code == 0){
          console.log("[channel] 뮤직 추가!")
          if (data.result.status == 0){
            console.log("[channel::Music] 일반예약");
            music_inserted(data.result);
          }else if (data.result.status == 1){
            console.log("[channel::Music] 우선예약")
            super_booking(data.result);
          }
        }

      });

    </script>

    <!-- <script src="main.js"></script> -->
